@font-face {
	font-family: proxima-nova-light;
	src: url(proxima-nova-light.otf);
}
@font-face {
	font-family: proxima-nova-regular;
	src: url(proxima-nova-regular.otf);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeout {
	0% {opacity: 100;}
	75% {opacity: 100;}
	100% {opacity: 0;}
}

/* Standard syntax */
@keyframes fadeout {
	0% {opacity: 100;}
	75% {opacity: 100;}
	100% {opacity: 0;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
	0% {opacity: 0;}
	25% {opacity: 100;}
	100% {opacity: 100;}
}

/* Standard syntax */
@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 100;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes move-up {
	0% {top: -10px;}
	50% {opacity: 1;}
	100% {top: -75px; opacity: 1;}
}

/* Standard syntax */
@keyframes move-up {
	0% {top: -10px;}
	100% {top: -72px;}
}

body {
	text-align: center;
	font-family: proxima-nova-light, arial, sans-serif;
}
h1 {
	font-size: 36px;
	color: #42474a;
	position: relative;
}
h2 {
	font-size: 17px;
	line-height: 18px;
	color: #666c70;
	position: relative;
}
#container {
	padding: 50px;
}
.medium-box {
	width: 300px;
	height: 250px;
	border: 1px solid #9ba0a3;
	margin: 30px;
	float: left;
}
img {
	position: relative;

}
a {
	color: #fff;
	background: #2990ea;
	position: relative;
	top: 23px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	padding: 14px 30px;
	letter-spacing: .5px;
	font-family: proxima-nova-regular, arial, sans-serif;
	font-size: 16px;
	-webkit-transition: color .3s ease;
	text-decoration: none;
	cursor:pointer;
	-webkit-animation: fadein 2s linear forwards; /* Chrome, Safari, Opera */
	animation: fadein 2s linear forwards;
}

a:hover {
	background: #1b89e9;
}
a:active {
	background: -webkit-linear-gradient(#1482e1, #1b89e9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#1482e1, #1b89e9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#1482e1, #1b89e9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#1482e1, #1b89e9); /* Standard syntax */
}

/* Existing customers redirect - photography */

#photography-redirect {
	background: url('../images/photography-bg.jpg')no-repeat center bottom;
}

#photography-redirect h1 {
	opacity: 0;
	top: 0px;
	-webkit-animation: fadein 1.5s linear 3s 2 alternate; /* Chrome, Safari, Opera */
	animation: fadein 1.5s linear 3s 2 alternate;
}
#photography-redirect h2.fadeout {
	opacity: 0;
	top: 50px;
	-webkit-animation: fadeout 3s; /* Chrome, Safari, Opera */
	animation: fadeout 3s;
}
#photography-redirect h2.fadein {
	opacity: 0;
	top: -97px;
	-webkit-animation: fadein 3s linear 7.5s forwards; /* Chrome, Safari, Opera */
	animation: fadein 1s linear 6s forwards;
}
#photography-redirect img {
	opacity: 0;
	position: relative;
	top: -93px;
	-webkit-animation: fadein 3s linear 6.5s forwards; /* Chrome, Safari, Opera */
	animation: fadein 1s linear 6s forwards;
}

/* Existing customers redirect - know more */

#know-more {
	background: url('../images/graph-bg.jpg')no-repeat center center;
}
#know-more h1 {
	top: 6px;
}
#know-more h2 {
	font-size: 21px;
	top: -10px;
}
#know-more img {
	top: 65px;
}

/* Existing customers redirect - confidential */

#confidential h1 {
	opacity: 0;
	font-size: 30px;
	line-height: 32px;
	top: 60px;
	-webkit-animation: fadeout 4s; /* Chrome, Safari, Opera */
	animation: fadeout 4s;
}
#confidential h2 {
	opacity: 0;
	top: -75px;
	font-size: 16px;
	-webkit-animation: fadein 2s linear 4.6s forwards; /* Chrome, Safari, Opera */
	animation: fadein 2s linear 4.6s forwards;
}
#confidential img.lock-broswer {
	opacity: 0;
	top: -10px;
	-webkit-animation: move-up 1s linear 3.6s forwards ; /* Chrome, Safari, Opera */
	animation: move-up 3s linear 3.6s forwards;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;	
}
#confidential img.logo {
	top: -75px;
}